Repository gittttreporter/romie: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,cjs,mjs,ts,vue}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

feat: add RetroArch device profile
  src/packages/device-profiles/src/index.ts
  src/packages/device-profiles/src/profiles/retroarch.ts
Due: eslint --fix, prettier --write

fix: delete confirmation no longer shows twice
  src/views/RomActionView.vue
Due: eslint --fix, prettier --write

chore(release): 0.5.0-rc.2
  package-lock.json
  package.json
Due: prettier --write

chore: add .claude to gitignore
  .gitignore
Due: none

feat: add log export for troubleshooting
  src/components/AppSettingsModal.vue
  src/main/db/databaseManagement.ts
  src/main/diagnostics/logExport.ts
  src/main/ipc/diagnostics.ts
  src/main/ipc/index.js
  src/main/roms/romScan.ts
  src/main/roms/romUtils.ts
  src/main/utils/zip.utils.ts
  src/preload.ts
  src/types/electron-api.ts
  src/types/electron.d.ts
Due: eslint --fix, prettier --write

refactor: use typed console IDs from node-rcheevos
  package-lock.json
  package.json
  src/main/roms/romUtils.ts
  src/utils/systems/index.ts
Due: eslint --fix, prettier --write

fix: ensure legacy lowdb migrations run before SQLite migration
  src/main.js
  src/main/db/databaseManagement.ts
  src/main/db/index.ts
  src/main/db/migrate-from-lowdb.ts
Due: eslint --fix, prettier --write

fix: app crashes from bad rcheevos import
  src/main/roms/romUtils.ts
  src/utils/systems/index.ts
Due: eslint --fix, prettier --write

chore(release): 0.5.0-rc.3
  package-lock.json
  package.json
Due: prettier --write

fix: include node-rcheevos in build output
  forge.config.js
Due: eslint --fix, prettier --write

chore(release): 0.5.0-rc.4
  package-lock.json
  package.json
Due: prettier --write

feat: make sidebar size adjustable
  src/components/AppSidebar.vue
  src/layouts/AppLayout.vue
Due: eslint --fix, prettier --write

chore: show full changelog in stable releases
  cliff.toml
Due: none

chore(release): 0.5.0
  package-lock.json
  package.json
Due: prettier --write

fix: game boy imports failing
  src/utils/systems/systemRegistry.ts
Due: eslint --fix, prettier --write

chore: update sponsor button
  src/components/AppSidebar.vue
Due: eslint --fix, prettier --write

feat: add PC Engine / TurboGrafx-16 support
  src/packages/device-profiles/src/profiles/knulli.ts
  src/packages/device-profiles/src/profiles/muos.ts
  src/packages/device-profiles/src/profiles/onion.ts
  src/packages/device-profiles/src/profiles/retroarch.ts
  src/types/system.ts
  src/utils/system.utils.ts
  src/utils/systems/index.ts
  src/utils/systems/systemRegistry.ts
Due: eslint --fix, prettier --write

chore(release): 0.6.0
  package-lock.json
  package.json
Due: prettier --write

fix: prevent false positive region detection
  src/main/db/index.ts
  src/main/db/migrate-region-detection.ts
  src/main/roms/romUtils.test.ts
  src/main/roms/romUtils.ts
Due: eslint --fix, prettier --write

feat: add RetroAchievements link to RomDetails
  src/components/achievements/RecentAchievements.vue
  src/components/achievements/RomAchievements.vue
  src/views/RomDetailView.vue
Due: eslint --fix, prettier --write

fix: zip files now pass hash verification after syncing (#106)
  src/main/db/index.ts
  src/main/db/migrations/index.ts
  src/main/db/migrations/migrate-filecrc32.ts
  src/main/db/migrations/migrate-from-lowdb.ts
  src/main/db/migrations/migrate-region-detection.ts
  src/main/roms/romImport.ts
  src/types/rom.ts
Due: eslint --fix, prettier --write

feat: add native menu with About and Check for Updates (#107)
  src/main.js
  src/main/menu/index.ts
  src/main/menu/state.ts
  src/main/updater/index.ts
Due: eslint --fix, prettier --write

chore(release): 0.7.0
  package-lock.json
  package.json
Due: prettier --write

fix: app crashes on intel macs
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.7.1
  package-lock.json
  package.json
Due: prettier --write

feat: add AppImage and RPM build outputs for Linux (#109)
  .github/workflows/release.yml
  forge.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: remember window size and position across sessions (#110)
  src/main.js
  src/main/window/index.ts
  src/types/settings.ts
Due: eslint --fix, prettier --write

chore(release): 0.8.0-rc.0
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.8.0-rc.1
  package-lock.json
  package.json
Due: prettier --write

feat: add ROM file existence checks (#115)
  src/components/AppToolbar.vue
  src/components/RomList.vue
  src/components/RomListItem.vue
  src/layouts/RomListLayout.vue
  src/main.js
  src/main/db/queries/roms.ts
  src/main/ipc/rom.js
  src/main/roms/romDatabase.ts
  src/main/roms/romValidation.ts
  src/preload.ts
  src/stores/roms.ts
  src/types/electron-api.ts
  src/types/rom.ts
  src/views/RomActionView.vue
  src/views/RomDetailView.vue
  src/views/RomImportView.vue
Due: eslint --fix, prettier --write

refactor: extract ROM filters into curried pure functions
  src/layouts/RomListLayout.vue
  src/utils/romFilters.test.ts
  src/utils/romFilters.ts
Due: eslint --fix, prettier --write

chore(release): 0.8.0-rc.2
  package-lock.json
  package.json
Due: prettier --write

fix: missing title bar on windows
  src/main.js
Due: eslint --fix, prettier --write

chore(release): 0.8.0-rc.3
  package-lock.json
  package.json
Due: prettier --write

feat: update ROM path when reimporting moved/renamed files (#122)
  src/main/roms/romDatabase.ts
  src/main/roms/romValidation.ts
Due: eslint --fix, prettier --write

feat: enable reordering of systems in sidebar (#123)
  package-lock.json
  package.json
  src/components/AppSidebar.vue
  src/components/sidebar/SidebarSection.vue
  src/components/sidebar/SystemSection.vue
  src/components/sidebar/TagsSection.vue
  src/main/ipc/settings.ts
  src/types/settings.ts
Due: eslint --fix, prettier --write

chore(release): 0.8.0-rc.4
  package-lock.json
  package.json
Due: prettier --write

Delete src/packages/device-profiles/src/profiles/knulli.ts
  src/packages/device-profiles/src/profiles/knulli.ts
Due: eslint --fix, prettier --write
